name: CI

on:
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  cancel:
    name: "Cancel Previous Runs"
    runs-on: ubuntu-latest
    steps:
      - uses: styfle/cancel-workflow-action@0.13.0
        with:
          all_but_latest: true
          access_token: ${{ github.token }}

  build:
    needs: cancel
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      # uses lean standard action with all default input values
      - uses: leanprover/lean-action@v1.4.0
        with:
          # Do not run linter for now, too many errors
          lint: false
